span{
    display: block;
}

h1{
    display: inline;
    display: inline-block;
    /* display: none; */
    padding: 50px;
    border: 1px solid  black;
    border: 1px dashed  black;
    box-sizing: border-box;
}